amqp==5.1.0
async-timeout==4.0.2
billiard==3.6.4.0
cachetools==4.2.4
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Deprecated==1.2.13
Flask==2.0.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
kombu==5.2.4
MarkupSafe==2.0.1
packaging==21.3
prompt-toolkit==3.0.29
pyparsing==3.0.8
pytz==2022.1
redis==4.2.2
requests==2.26.0
six==1.16.0
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.14.0
